.cart {
    border: 1px solid $gray;
    padding: 15px;

    &__text {
        float:right;
        color: #949393;
        line-height: 22px;
    }
    
    @mixin atMedium {
        width: auto;
        display: block;
        float: right;
        width: 214px;
        margin-top: 22px;
    }
}